body {
    
    background-color: #bdc3c7;
    background-image: url(/img/background-image.png);
}


.cabecalho-opcoes {
    box-sizing: border-box;
    padding: 30px;
}

img {
    width: 340px;
    height: 340px;
}   



    
    


    



    