/* .cabecalho img {
    width: 440px;
    height: 64px;
} */

body {
    padding: 50px;
    background-image: url(/img/background-image.png);
}   

    

.espacamento {
    padding-top: 60px;
}

.imagem {
    width: 340px;
    height: 300px;
}
 
.backgrd {
    background-color: rgb(63, 186, 207);
}