body {
    
    background-color: #bdc3c7;
    background-image: url(/img/background-image.png);
    /* padding: 50px; */

    
}

.cabecalho ul li {
    display: inline;
}
.cabecalho ul li {
    float: right;
}



    